<% layout("layout/register") %>

<section class="flex flex-col items-center ">
  <header class="text-primary-500 font-bold text-6xl">
    <h1>LOG IN!</h1>
  </header>
  <form
    action="/login"
    method="post"
    class="max-w-lg px-2 bg-secondary-200 justify-center flex flex-col p-5 rounded-2xl"
  >

    <div class="input-group group">
      <label for="username">Username:</label>
      <input
        id="username"
        name="username"
        type="text"
        class="focus:animate-pulse peer"
        required
      />
      <p class="mt-1 text-sm text-red-600 hidden peer-invalid:block">
        Please enter a username.
      </p>
    </div>
    <div class="input-group group">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        class="focus:animate-pulse peer"
        min="6"
        required
      />
      <p class="mt-1 text-sm pl-1 text-red-600 hidden peer-invalid:block">
        Please enter a password.
      </p>
    </div>
     </div>
      <div class="p-4 w-fit self-end rounded-3xl mb-2 hover:bg-primary-600 transition-all duration-150 text-textMain-900 hover:text-textMain-200 ">
      <a class="button google" href="/login/federated/google"><i class="fa-solid fa-right-from-bracket"></i> Sign in with Google</a>
    </div>
    <div class="self-center flex gap-2">
      <button type="submit" class="btn-success">Log In!</button>
      <a role="button" href="/register" class="btn-edit">Sign Up!</a>
   
  </form>
</section>

<script>
  let form = document.querySelector("form");
  let button = document.getElementById("button");

  button.onsubmit = (e) => {
    let p = document.querySelectorAll("p");
    p.forEach((par) => {
      if (par.classList.contains("peer")) par.classList.toggle("peer");
    });
  };
</script>
