<% layout("layout/register") %>

<section class="flex flex-col items-center">
  <header class="text-primary-500 mb-2 font-bold text-6xl">
    <h1>SIGN UP!</h1>
  </header>
  <form
    action="/register"
    method="post"
    class="max-w-lg px-2 bg-secondary-200 justify-center flex flex-col py-5 rounded-2xl"
  >
    <div class="input-group group relative">
      <label for="name">Name:</label>
      <input
        id="name"
        name="name"
        class="focus:animate-pulse peer mr-4"
        type="text"
        placeholder="Name"
        required
      />
      <p class="valid-text">
        Please enter a name.
      </p>
    </div>
    <div class="input-group group">
      <label for="username">Username:</label>
      <input
        type="text"
        name="username"
        placeholder="Username"
        class="focus:animate-pulse peer"
        required
      />
      <p class="valid-text">
        Please enter a username.
      </p>
    </div>
    <div class="input-group group">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        class="focus:animate-pulse peer"
        min="6"
        placeholder="***************"
        required
      />
      <p class="valid-text">
        Please enter a password.
      </p>
    </div>
    <div class="input-group group">
      <label for="email">Email:</label>
      <input
        id="email"
        name="email"
        type="text"
        class="focus:animate-pulse peer"
        required
        placeholder="Email"
      />
      <p class="valid-text">
        Please enter a email.
      </p>
    </div>
    <div class="self-center w-fit rounded-lg  mb-2 border hover:border-black hover:backdrop-opacity-25 hover:bg-primary-300 transition-all duration-150 text-textMain-900  ">
          <a class="block p-2 google  w-full" href="/login/federated/google"><i class="fa-solid fa-right-from-bracket"></i> Sign Up with Google</a>
    </div>
    <div class="self-center flex gap-2">
      <button type="submit" class="btn-success">Sign Up!</button>
      <a role="button" href="/login" class="btn-edit">Log In!</a>
    </div>
  </form>
</section>

<script>
  let form = document.querySelector("form");
  let button = document.getElementById("button");

  button.onsubmit = (e) => {
    let p = document.querySelectorAll("p");
    p.forEach((par) => {
      if (par.classList.contains("peer")) par.classList.toggle("peer");
    });
  };
</script>
