<article class="container p-4 self-center" id="about">
  <p class="text-center text-sm">
    DISCLAIMER: The labeled price is AI generated and is to be taken as an
    average cost range. This is for guidance to get an idea of how much each
    item could cost for your trips to the store. Good luck shopping!
  </p>
</article>
