<section class="container sticky-top pt-2">
  <div class="row">
    <div class="col-12 navBar py-2 rounded-5 gap-2 pe-4 mb-2">
      <div class="row align-items-center">
        <div class="col-6 main-text">
          <a href="/categories" class="rounded-circle main-text brand"
            ><i class="fa-solid fa-house fa-lg"></i
          ></a>
          <a href="/products#about" class="rounded-circle main-text brand">
            <i class="fa-solid fa-circle-info fa-lg"></i
          ></a>
        </div>
        <div class="container-fluid col-6 text-end">
          <a href="/products/new" class="btn btn-info"
            ><i class="fa-solid fa-plus"></i
          ></a>
          <a href="/products" class="btn btn-outline-secondary"
            ><i class="fa-solid fa-left-long"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
