<section class="flex justify-center items-center h-20">
  <div class="container fixed p-2 top-2 z-20">
    <nav
      class="flex justify-between items-center bg-secondary-700 px-2 rounded-2xl shadow-accent"
    >
      <div class="flex space-x-2">
        <div class="navbar-icon">
          <a href="/categories" class="icon-link"
            ><i class="fa-solid fa-house fa-lg"> </i>
          </a>
        </div>
        <div class="navbar-icon">
          <a href="/products#about" class="icon-link">
            <i class="fa-solid fa-circle-info fa-lg"></i>
          </a>
        </div>
      </div>
      <div class="flex space-x-2">
        <div class="navbar-icon">
          <a href="/account" class="icon-link">
            <i class="fa-solid fa-circle-user"></i>
          </a>
        </div>
        <div class="navbar-icon">
          <a href="/products/new" class="icon-link">
            <i class="fa-solid fa-plus"></i>
          </a>
        </div>
        <div class="navbar-icon">
          <a href="/products" class="icon-link">
            <i class="fa-solid fa-left-long"></i>
          </a>
        </div>
      </div>
    </nav>
  </div>
</section>
