<div class="relative mb-2">
  <div>
    <input
      class="bg-secondary-200 w-full rounded-2xl focus:ring-0 focus:outline-0 appearance-none text-textMain-700 px-4 py-1"
      type="text"
      name=""
      placeholder="<%= url.includes("categories") ?  "Category" : "Product" %>"
      id="search-items"
    />
  </div>
  <button
    class="absolute cursor-pointer transition-all duration-100 hover:bg-primary-700 right-1 top-1 px-4 bg-primary-900 rounded-full z-20"
  >
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>
