<div class="relative ">
  <div>
    <input
      class="bg-background-500 w-full rounded-2xl focus:ring-0 focus:outline-0 appearance-none text-textMain-500 px-4 py-1"
      type="text"
      name=""
      placeholder="<%= url.includes("categories") ?  "Category" : "Product" %>"
      id="search-items"
    />
  </div>
  <button
    class="absolute cursor-pointer transition-all duration-100 hover:bg-pink-400 right-1 top-1 px-4 bg-primary-500 rounded-full z-10"
  >
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>
