    <aside id="sidebar" class="md:hidden absolute p-4 flex flex-col min-w-3/4 opacity-0 transition-all duration-300 gap-5 right-0 bg-white h-full -z-50 ">
      <div class="navbar-icon md:hidden toggle-sidebar-btn w-fit cursor-pointer">
        <button class="icon-link "><i class="fa-solid fa-bars"></i></button>
      </div>
     
       <div class=" flex flex-col gap-4 flex-2">
        
          <% for (let item of navLinks) {%>
            <a class="text-textMain-700 appearance-none" href="/<%= item.link %>">
              <div
                class="w-full flex  justify-start items-center py-4 font-bold hover:bg-primary-300 transition-all duration-200 px-2 rounded-full shadow-md <%=  (url || "").includes(item.link) ? 'bg-primary-500 text-white' : 'bg-white text-black' %>"
              >
                <i class="<%= item.icon %> w-fit flex-1 text-center  px-2"></i>
                <span class="w-full flex-10">
                  <%= item.name %>
                </span>
              </div>
            </a>
            <% } %>
       </div>
        <div class="navbar-icon">
            <a href="/products/new" class="icon-link"
                ><i class="fa-solid fa-plus"></i>
            </a>
        </div>
        <div class="navbar-icon ">
          <a href="/account" class="icon-link"><i class="fa-solid fa-user"></i> </a>
      </div>
    </aside>

    <div id="overlay" class="md:hidden absolute h-screen w-full bg-black opacity-50 hidden z-20 "></div>
    <script defer src="/js/toggleCollapse.js"></script>

