<% if(success && success.length) {%>
<input type="checkbox" id="alert-toggle" class="hidden peer" />
<header
  class="peer-checked:scale-0 scale-100 flex justify-between items-center gap-5 p-4 border border-green-300 bg-green-500 text-white rounded transition-all duration-200 ease-in-out"
>
  <h1 class="text-lg font-bold"><%= success %></h1>
  <label
    for="alert-toggle"
    class="cursor-pointer px-3 py-1 hover:bg-green-300 rounded"
  >
    <i class="fa-solid fa-x"></i>
  </label>
</header>
<% } %>
