body {
  background: linear-gradient(180deg, #001219, #000) fixed;
}

.list-group {
  box-shadow: 0px 0px 18px rgb(255, 255, 255, 0.5);
  transform: scale(0.95);
}
@media (max-width: 450px) {
  .list-group {
    box-shadow: 0px 0px 18px rgb(255, 255, 255, 0.5);
    transform: scale(0.8);
  }
}
.list-group-item {
  background-color: #94d2bd;

  border: none;
}
.unify-bg {
  background-color: #94d2bd;

  border: none;
}
.card {
  background-color: #005f73;
  box-shadow: 0px 6px 3rem rgba(73, 210, 245, 0.479);
}

.navBar {
  background: linear-gradient(180deg, #001219, #000);
  box-shadow: 0px 2px 8px rgba(164, 247, 219, 0.557);
}
.name-link {
  color: #005f73;
}

.btn-info {
  border: none;
  background-color: #0a9396;
}

.btn-danger {
  border: none;
  background-color: #9b2226;
}
.btn-danger:hover {
  border: none;
  color: #e9d8a6;
  background-color: #52181a;
}

.show-category {
  padding: 0.5rem;
  text-decoration: none;
  border-radius: 30%;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.show-category:hover {
  background-color: #0a94967c;
}

.btn-outline-danger {
  color: #9b2226;
}

.main-text {
  color: #e9d8a6;
}

.active {
  background: #000;
}
.brand {
  padding: 0.5rem;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.brand:hover {
  background: #94d2bd65;
}
