<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body
    class="min-h-screen justify-center bg-gradient-to-br from-65%% dark:from-textMain-900  dark:to-textMain-800 from-secondary-100 to-secondary-200 flex flex-col  text-background-900 font-sans"
  >
  <%- include('../partials/navbar.ejs') %>
    <main class="p-2 flex justify-between items-center flex-col gap-5">
      <%- include('../partials/success.ejs') %> <%- body %>
    </main>

    <script>
      function toggleCollapse(i) {
        const content = document.getElementById(`collapseExample${i}`);
        //content.classList.toggle("hidden")
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      }
    </script>
  </body>
</html>
