<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body
    class="min-h-screen bg-gradient-to-br from-65%% from-textMain-900 to-textMain-800 flex flex-col justify-center text-background-900 font-sans"
  >
    <main class="flex justify-center items-center flex-col gap-5 h-auto">
      <%- include('../partials/success.ejs') %> <%- body %>
    </main>

    <script>
      function toggleCollapse(i) {
        const content = document.getElementById(`collapseExample${i}`);
        //content.classList.toggle("hidden")
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      }
    </script>
  </body>
</html>
