<% layout("layout/boilerplate.ejs") %>

  <section class="flex-col ">

    <h1 class="text-5xl text-center mb-4 " style="text-shadow: 4px 2px 10px rgba(255, 255, 255, 0.596);">
      <%= category.toUpperCase() %> Products!
    </h1>

    <main class="container px-5 overflow-y-auto h-screen custom-scrollbar scroll-m-5 ">
     
      <%- include('../partials/productPartial.ejs') %>
    </main>

    <div class="mt-auto px-5 text-2xl py-4">
      <div class="">
        <h3 class="display-6 main-text" >Average Total Cost: <span class="" id="total-cost"> ~$<%= (sum === "0-0") ? "0" : sum %></span>
        </h3>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", ()=>{
      setTimeout(() => {
  const cost = document.getElementById("total-cost");
  cost.classList.add("animate");

  setTimeout(() => {
    cost.classList.remove("animate");
  }, 350);
}, 200);
    })
  </script>