<% layout("layout/boilerplate") %>

<div class="flex flex-col items-center">
  <header class="text-center py-12">
    <h1 class="md:text-8xl text-5xl main-text">Add Product</h1>
  </header>
  <section class="w-full max-w-xs px-2">
    <form
      action="/products"
      method="post"
      class="bg-secondary-200 shadow-md rounded px-8 pt-6 pb-8 mb-4 text-shadow-xs text-shadow-gray-300"
    >
      <div class="mb-2">
        <div class="mb-2">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name"
            >Name:</label
          >
          <input
            type="text"
            name="name"
            class="input"
            placeholder="Product Name"
            required
            id="name"
          />
        </div>
        <div class="mb-4">
          <label for="qty" class="block text-gray-700 text-sm font-bold mb-2"
            >Quantity:</label
          >
          <input
            type="number"
            name="qty"
            class="input"
            id="qty"
            placeholder="Quantity"
            required
            step="1"
            min="0"
          />
        </div>
        <div class="flex justify-between items-center mb-4 gap-2">
          <label
            class="block text-gray-700 text-sm font-bold"
            for="inputGroupSelect02"
            >Options</label
          >
          <select
            class="input"
            name="category"
            id="inputGroupSelect02"
            required
          >
            <option>Select Category</option>
            <% for(let category of categories) {%>
            <option><%= category.toUpperCase() %></option>
            <% } %>
          </select>
        </div>
        <div class="flex justify-between">
          <label for="active" class="block text-gray-700 text-sm font-bold"
            >Need to Buy</label
          >
          <div class="rounded-end">
            <input type="checkbox" name="buy" class="" id="active" />
          </div>
        </div>
      </div>
      <div class="p-0 text-end">
        <button class="btn-success">Add Product</button>
        <a href="/products" class="btn-edit">
          <i class="fa-solid fa-left-long"></i
        ></a>
      </div>
    </form>
    <div class="text-sm">
      <h4>
        For best results please give a descriptive name <br> eg. 
        <br> (Gala Apple, Strawberries [1 lb/kg/g], Family pack X)
      </h4>
    </div>
  </section>
</div>
